@model IEnumerable<ReservationSystem.Models.BookingData_Result>
@{
    ViewBag.Title = "Bookings";
    string BackgroundColor = "";
}

<div class="content container-fluid">

    <!-- Page Header -->

    <!-- /Page Header -->
    <div class="row">
        <div class="col-md-12">
           

            <ul class="nav nav-tabs nav-tabs-solid nav-justified" style=" font-weight: bold;">
                <li class="nav-item"><a class="nav-link active" href="#solid-tab1" data-toggle="tab" id="Tab1" style="background-color: #cbe4fe !important; ">All</a></li>
                <li class="nav-item"><a class="nav-link" href="#solid-tab2" data-toggle="tab" id="Tab2" style="background-color: #60fe67 !important">New Booking</a></li>
                <li class="nav-item"><a class="nav-link" href="#solid-tab3" data-toggle="tab" id="Tab3" style="background-color: #fb94dd ">Passanger Confirmed</a></li>
                <li class="nav-item"><a class="nav-link" href="#solid-tab4" data-toggle="tab" id="Tab4" style="background-color: #89b8ff !important; ">Driver Inform</a></li>
                <li class="nav-item"><a class="nav-link" href="#solid-tab5" data-toggle="tab" id="Tab5" style="background-color: #e1ff69 !important;">Finish Tours</a></li>
                <li class="nav-item"><a class="nav-link" href="#solid-tab6" data-toggle="tab" id="Tab6" style="background-color: #ffa4ad !important;">Cancelled Tours</a></li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane show  active" id="solid-tab1">

                    <div class="card">
                        <div class="card-header">
                            <h6 class="card-title"><i class="fe fe-book"> RESERVATIONS</i></h6>
                        </div>
                        <div class="card-body">
                            
                            <div class="table-responsive">
                                <table class="cell-border table table-hover table-center  mb-0 " id="UserTable" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th style="display:none;">User ID</th>
                                            <th>Ref No</th>
                                            <th>Client Name</th>
                                            <th>From <br> To</th>
                                            <th>Arrival Date</th>
                                            <th>Departure Date</th>
                                            <th>Status</th>
                                            <th>Actions</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (ReservationSystem.Models.BookingData_Result Booking in Model)
                                        {
                                            if (Booking.Status == 1)
                                            {
                                                BackgroundColor = "#60fe67";
                                            }
                                            else if (Booking.Status == 2)
                                            {
                                                BackgroundColor = "#fb94dd";
                                            }
                                            else if (Booking.Status == 3)
                                            {
                                                BackgroundColor = "#89b8ff";
                                            }
                                            else if (Booking.Status == 4)
                                            {
                                                BackgroundColor = "#e1ff69";
                                            }
                                            else if (Booking.Status == 5)
                                            {
                                                BackgroundColor = "#ffa4ad";
                                            }
                                            else if (Booking.Status == 6)
                                            {
                                                BackgroundColor = "#ffa4ad";
                                            }
                            <tr style="background-color: @BackgroundColor !important;">
                                <td style="display:none;">@Booking.BookingId</td>
                                <td>@Booking.ReferenceNo</td>
                                <td>@Booking.Name</td>
                                <td>@Booking.APL to @Booking.ADL <br /> @Booking.DPL to @Booking.DDL</td>
                                <td>@Booking.ArrivalDate.Value.ToString("dd/MM/yyyy") @Booking.ArrivalTime</td>
                                <td>@Booking.DepartureDate.Value.ToString("dd/MM/yyyy") @Booking.DepartureTime</td>
                                <td>@Booking.StatusName</td>

                                <td class="text-end">
                                    <div class="actions">
                                        <a class="btn btn-secondary" href="#" data-toggle="modal" data-target="#SendModal" onclick="ShowDetails(@Booking.BookingId)" id="DeleteUser">
                                            <i class=""></i> Send
                                        </a>
                                        <a href="@Url.Action("ViewBooking","Booking",new {id=Booking.BookingId})" id="EditUser" class="btn btn-primary">
                                            <i class=""></i> View
                                        </a>
                                    </div>
                                </td>
                            </tr>}
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="tab-pane" id="solid-tab2">
                    <div class="card">
                        <div class="card-header">
                            <h6 class="card-title">New Booking</h6>
                        </div>
                        <div class="card-body">
                           
                            <div class="table-responsive">
                                <table class="cell-border table table-hover table-center  mb-0 " id="UserTable1" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th style="display:none;">User ID</th>
                                            <th>Ref No</th>
                                            <th>Client Name</th>
                                            <th>From <br> To</th>
                                            <th>Arrival Date</th>
                                            <th>Departure Date</th>
                                            <th>Status</th>
                                            <th>Actions</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (ReservationSystem.Models.BookingData_Result Booking in Model)
                                        {
                                            if (Booking.Status == 1)
                                            {
                            <tr style="background-color: #60fe67 !important;">
                                <td style="display:none;">@Booking.BookingId</td>
                                <td>@Booking.ReferenceNo</td>
                                <td>@Booking.Name</td>
                                <td>@Booking.APL to @Booking.ADL <br />  @Booking.DPL to @Booking.DDL</td>
                                <td>@Booking.ArrivalDate.Value.ToString("dd/MM/yyyy") @Booking.ArrivalTime</td>
                                <td>@Booking.DepartureDate.Value.ToString("dd/MM/yyyy") @Booking.DepartureTime</td>
                                <td>@Booking.StatusName</td>

                                <td class="text-end">
                                    <div class="actions">
                                        <a class="btn btn-secondary" href="#" data-toggle="modal" data-target="#SendModal" id="DeleteUser">
                                            <i class=""></i> Send
                                        </a>
                                        <a href="@Url.Action("ViewBooking","Booking",new {id=Booking.BookingId})" id="EditUser" class="btn btn-primary">
                                            <i class=""></i> View
                                        </a>
                                    </div>
                                </td>
                            </tr>
}
                    }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="tab-pane" id="solid-tab3">

                    <div class="card">
                        <div class="card-header">
                            <h6 class="card-title"> Passanger Confirmed</h6>
                        </div>
                        <div class="card-body">
                           
                            <div class="table-responsive">
                                <table class="cell-border table table-hover table-center  mb-0 " id="UserTable3" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th style="display:none;">User ID</th>
                                            <th>Ref No</th>
                                            <th>Client Name</th>
                                            <th>From <br> To</th>
                                            <th>Arrival Date</th>
                                            <th>Departure Date</th>
                                            <th>Status</th>
                                            <th>Actions</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (ReservationSystem.Models.BookingData_Result Booking in Model)
                                        {
                                            if (Booking.Status == 2)
                                            {
                            <tr style="background-color: #fb94dd !important;">
                                <td style="display:none;">@Booking.BookingId</td>
                                <td>@Booking.ReferenceNo</td>
                                <td>@Booking.Name</td>
                                <td>@Booking.APL to @Booking.ADL <br />  @Booking.DPL to @Booking.DDL</td>
                                <td>@Booking.ArrivalDate.Value.ToString("dd/MM/yyyy") @Booking.ArrivalTime</td>
                                <td>@Booking.DepartureDate.Value.ToString("dd/MM/yyyy") @Booking.DepartureTime</td>
                                <td>@Booking.StatusName</td>

                                <td class="text-end">
                                    <div class="actions">
                                        <a class="btn btn-secondary" href="#" data-toggle="modal" data-target="#SendModal" id="DeleteUser">
                                            <i class=""></i> Send
                                        </a>
                                        <a href="@Url.Action("ViewBooking","Booking",new {id=Booking.BookingId})" id="EditUser" class="btn btn-primary">
                                            <i class=""></i> View
                                        </a>
                                    </div>
                                </td>
                            </tr>}
                                        }
                                    </tbody>
                                </table>
                            </div>

                        </div>

                    </div>

                </div>

                <div class="tab-pane" id="solid-tab4">

                    <div class="card">
                        <div class="card-header">
                            <h6 class="card-title"> Driver Inform</h6>
                        </div>

                        <div class="card-body">
                           
                            <div class="table-responsive">
                                <table class="cell-border table table-hover table-center  mb-0 " id="UserTable4" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th style="display:none;">User ID</th>
                                            <th>Ref No</th>
                                            <th>Client Name</th>
                                            <th>From <br> To</th>
                                            <th>Arrival Date</th>
                                            <th>Departure Date</th>
                                            <th>Status</th>
                                            <th>Actions</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (ReservationSystem.Models.BookingData_Result Booking in Model)
                                        {
                                            if (Booking.Status == 3)
                                            {
                            <tr style="background-color: #89b8ff !important;">
                                <td style="display:none;">@Booking.BookingId</td>
                                <td>@Booking.ReferenceNo</td>
                                <td>@Booking.Name</td>
                                <td>@Booking.APL to @Booking.ADL <br />  @Booking.DPL to @Booking.DDL</td>
                                <td>@Booking.ArrivalDate.Value.ToString("dd/MM/yyyy") @Booking.ArrivalTime</td>
                                <td>@Booking.DepartureDate.Value.ToString("dd/MM/yyyy") @Booking.DepartureTime</td>
                                <td>@Booking.StatusName</td>

                                <td class="text-end">
                                    <div class="actions">
                                        <a class="btn btn-secondary" href="#" data-toggle="modal" data-target="#SendModal" id="DeleteUser">
                                            <i class=""></i> Send
                                        </a>
                                        <a href="@Url.Action("ViewBooking","Booking",new {id=Booking.BookingId})" id="EditUser" class="btn btn-primary">
                                            <i class=""></i> View
                                        </a>
                                    </div>
                                </td>
                            </tr>}
                                        }
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="tab-pane" id="solid-tab5">

                    <div class="card">
                        <div class="card-header">
                            <h6 class="card-title">  Finish Tours</h6>
                        </div>

                        <div class="card-body">
                         
                            <div class="table-responsive">
                                <table class="cell-border table table-hover table-center  mb-0 " id="UserTable5" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th style="display:none;">User ID</th>
                                            <th>Ref No</th>
                                            <th>Client Name</th>
                                            <th>From <br> To</th>
                                            <th>Arrival Date</th>
                                            <th>Departure Date</th>
                                            <th>Status</th>
                                            <th>Actions</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (ReservationSystem.Models.BookingData_Result Booking in Model)
                                        {
                                            if (Booking.Status == 4)
                                            {
                            <tr style="background-color: #e1ff69 !important;">
                                <td style="display:none;">@Booking.BookingId</td>
                                <td>@Booking.ReferenceNo</td>
                                <td>@Booking.Name</td>
                                <td>@Booking.APL to @Booking.ADL <br />  @Booking.DPL to @Booking.DDL</td>
                                <td>@Booking.ArrivalDate.Value.ToString("dd/MM/yyyy") @Booking.ArrivalTime</td>
                                <td>@Booking.DepartureDate.Value.ToString("dd/MM/yyyy") @Booking.DepartureTime</td>
                                <td>@Booking.StatusName</td>

                                <td class="text-end">
                                    <div class="actions">
                                        <a class="btn btn-secondary" href="#" data-toggle="modal" data-target="#SendModal" id="DeleteUser">
                                            <i class=""></i> Send
                                        </a>
                                        <a href="@Url.Action("ViewBooking","Booking",new {id=Booking.BookingId})" id="EditUser" class="btn btn-primary">
                                            <i class=""></i> View
                                        </a>
                                    </div>
                                </td>
                            </tr>}
                                        }
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="tab-pane" id="solid-tab6">

                    <div class="card">

                        <div class="card-header">
                            <h6 class="card-title">  Cancelled Tours</h6>
                        </div>
                        <div class="card-body">
                         
                            <div class="table-responsive">
                                <table class="cell-border table table-hover table-center  mb-0 " id="UserTable6" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th style="display:none;">User ID</th>
                                            <th>Ref No</th>
                                            <th>Client Name</th>
                                            <th>From <br> To</th>
                                            <th>Arrival Date</th>
                                            <th>Departure Date</th>
                                            <th>Status</th>
                                            <th>Actions</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (ReservationSystem.Models.BookingData_Result Booking in Model)
                                        {
                                            if (Booking.Status == 5)
                                            {
                            <tr style="background-color: #ffa4ad !important;">
                                <td style="display:none;">@Booking.BookingId</td>
                                <td>@Booking.ReferenceNo</td>
                                <td>@Booking.Name</td>
                                <td>@Booking.APL to @Booking.ADL <br />  @Booking.DPL to @Booking.DDL</td>
                                <td>@Booking.ArrivalDate.Value.ToString("dd/MM/yyyy") @Booking.ArrivalTime</td>
                                <td>@Booking.DepartureDate.Value.ToString("dd/MM/yyyy") @Booking.DepartureTime</td>
                                <td>@Booking.StatusName</td>

                                <td class="text-end">
                                    <div class="actions">
                                        <a class="btn btn-secondary" href="#" data-toggle="modal" data-target="#SendModal" id="DeleteUser">
                                            <i class=""></i> Send
                                        </a>
                                        <a href="@Url.Action("ViewBooking","Booking",new {id=Booking.BookingId})" id="EditUser" class="btn btn-primary">
                                            <i class=""></i> View
                                        </a>
                                    </div>
                                </td>
                            </tr>}
                                        }
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>


<div id="SendModal" class="modal fade delete-modal" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #4cd0f4;color:white">
                <h6 class="modal-title" id="CHeading">View Tour</h6>
            </div>
            <div style="display:none;" class="alert alert-success alert-dismissible fade show" id="Copied" role="alert">
                <strong>Success!</strong> Text Copied.
            </div>
            <div class="modal-body " id="div1">
                <label id="Arrival">Arrival</label><br />
                <label id="ArrivalTime"></label><br />
                <label id="ArrivalAPL"></label><br />
                <label id="ArrivalADL"></label><br />
                <label id="ArrivalFTN"></label><br />
                <label id="ArrivalPrice"></label>
            </div>
            <div class="modal-footer">

                <button id="Copy" type="button" class="btn btn-primary" onclick="CopyToClipboard('div1')">Copy</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

            </div>
        </div>

    </div>
</div> 

<script src="~/Content/assets/js/jquery-3.5.1.js"></script>
<script>

    function ShowDetails(Id) {
        var model = {
            Id: Id,
        };

        $.ajax({
            type: "POST",
            url: "/Booking/GetBooking",
            data: JSON.stringify(model),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            secondary: function (Data) {
                $("#ArrivalTime").text(Data.Data.ArrivalTime.Hours + ":" + Data.Data.ArrivalTime.Minutes);
                $("#ArrivalAPL").text(Data.Data.APL);
                $("#ArrivalADL").text(Data.Data.ADL);
                $("#ArrivalFTN").text(Data.Data.Flight_TrainNo);
                $("#ArrivalPrice").text(Data.Data.Amount);

            }
        });
    }

    $(document).ready(function () {
        var table = $('#UserTable').DataTable({
            destroy: true,
            dom: 'Bfrtip',
            //lengthMenu: [
            //    [10, 25, 50, -1],
            //    ['10 rows', '25 rows', '50 rows', 'Show all']
            //],
            buttons: [
                'pageLength',
                {
                    extend: 'pdf',
                    title: function () { return "ALL TOUR LIST"; },
                    customize: function (doc) {
                        doc.styles.title = {
                            //color: 'red',
                            fontSize: '20',
                            //background: 'blue',
                            alignment: 'left'
                        },
                            doc['header'] = (function (page, pages) {
                                return {
                                    columns: [
                                        'Administrator',
                                        {
                                            // This is the right column
                                            alignment: 'right',
                                            text: 'WESTERN-TOURS.COM '
                                        }
                                    ],
                                    margin: [10, 10],
                            }
                            });
                    },
                    message: 'Report date- @DateTime.Now.ToString("yyyy-MM-dd")',
                    exportOptions: {
                        columns: [1, 2, 3, 4, 5, 6]
                    }
                }
            ],
            @* "lengthMenu": [@Retrieves],*@
            order: [[0, 'desc']],

        });
          var table = $('#UserTable1').DataTable({
            destroy: true,
            dom: 'Bfrtip',
            //lengthMenu: [
            //    [10, 25, 50, -1],
            //    ['10 rows', '25 rows', '50 rows', 'Show all']
            //],
            buttons: [
                'pageLength',
                {
                    extend: 'pdf',
                    title: function () { return "ALL TOUR LIST"; },
                    customize: function (doc) {
                        doc.styles.title = {
                            //color: 'red',
                            fontSize: '20',
                            //background: 'blue',
                            alignment: 'left'
                        },
                            doc['header'] = (function (page, pages) {
                                return {
                                    columns: [
                                        'Administrator',
                                        {
                                            // This is the right column
                                            alignment: 'right',
                                            text: 'WESTERN-TOURS.COM '
                                        }
                                    ],
                                    margin: [10, 10],
                            }
                            });
                    },
                    message: 'Report date- @DateTime.Now.ToString("yyyy-MM-dd")',
                    exportOptions: {
                        columns: [1, 2, 3, 4, 5, 6]
                    }
                }
            ],
            @* "lengthMenu": [@Retrieves],*@
            order: [[0, 'desc']],

          });
          var table = $('#UserTable2').DataTable({
            destroy: true,
            dom: 'Bfrtip',
            //lengthMenu: [
            //    [10, 25, 50, -1],
            //    ['10 rows', '25 rows', '50 rows', 'Show all']
            //],
            buttons: [
                'pageLength',
                {
                    extend: 'pdf',
                    title: function () { return "ALL TOUR LIST"; },
                    customize: function (doc) {
                        doc.styles.title = {
                            //color: 'red',
                            fontSize: '20',
                            //background: 'blue',
                            alignment: 'left'
                        },
                            doc['header'] = (function (page, pages) {
                                return {
                                    columns: [
                                        'Administrator',
                                        {
                                            // This is the right column
                                            alignment: 'right',
                                            text: 'WESTERN-TOURS.COM '
                                        }
                                    ],
                                    margin: [10, 10],
                            }
                            });
                    },
                    message: 'Report date- @DateTime.Now.ToString("yyyy-MM-dd")',
                    exportOptions: {
                        columns: [1, 2, 3, 4, 5, 6]
                    }
                }
            ],
            @* "lengthMenu": [@Retrieves],*@
            order: [[0, 'desc']],

          });
          var table = $('#UserTable3').DataTable({
            destroy: true,
            dom: 'Bfrtip',
            //lengthMenu: [
            //    [10, 25, 50, -1],
            //    ['10 rows', '25 rows', '50 rows', 'Show all']
            //],
            buttons: [
                'pageLength',
                {
                    extend: 'pdf',
                    title: function () { return "ALL TOUR LIST"; },
                    customize: function (doc) {
                        doc.styles.title = {
                            //color: 'red',
                            fontSize: '20',
                            //background: 'blue',
                            alignment: 'left'
                        },
                            doc['header'] = (function (page, pages) {
                                return {
                                    columns: [
                                        'Administrator',
                                        {
                                            // This is the right column
                                            alignment: 'right',
                                            text: 'WESTERN-TOURS.COM '
                                        }
                                    ],
                                    margin: [10, 10],
                            }
                            });
                    },
                    message: 'Report date- @DateTime.Now.ToString("yyyy-MM-dd")',
                    exportOptions: {
                        columns: [1, 2, 3, 4, 5, 6]
                    }
                }
            ],
            @* "lengthMenu": [@Retrieves],*@
            order: [[0, 'desc']],

          });
          var table = $('#UserTable4').DataTable({
            destroy: true,
            dom: 'Bfrtip',
            //lengthMenu: [
            //    [10, 25, 50, -1],
            //    ['10 rows', '25 rows', '50 rows', 'Show all']
            //],
            buttons: [
                'pageLength',
                {
                    extend: 'pdf',
                    title: function () { return "ALL TOUR LIST"; },
                    customize: function (doc) {
                        doc.styles.title = {
                            //color: 'red',
                            fontSize: '20',
                            //background: 'blue',
                            alignment: 'left'
                        },
                            doc['header'] = (function (page, pages) {
                                return {
                                    columns: [
                                        'Administrator',
                                        {
                                            // This is the right column
                                            alignment: 'right',
                                            text: 'WESTERN-TOURS.COM '
                                        }
                                    ],
                                    margin: [10, 10],
                            }
                            });
                    },
                    message: 'Report date- @DateTime.Now.ToString("yyyy-MM-dd")',
                    exportOptions: {
                        columns: [1, 2, 3, 4, 5, 6]
                    }
                }
            ],
            @* "lengthMenu": [@Retrieves],*@
            order: [[0, 'desc']],

          });
          var table = $('#UserTable5').DataTable({
            destroy: true,
            dom: 'Bfrtip',
            //lengthMenu: [
            //    [10, 25, 50, -1],
            //    ['10 rows', '25 rows', '50 rows', 'Show all']
            //],
            buttons: [
                'pageLength',
                {
                    extend: 'pdf',
                    title: function () { return "ALL TOUR LIST"; },
                    customize: function (doc) {
                        doc.styles.title = {
                            //color: 'red',
                            fontSize: '20',
                            //background: 'blue',
                            alignment: 'left'
                        },
                            doc['header'] = (function (page, pages) {
                                return {
                                    columns: [
                                        'Administrator',
                                        {
                                            // This is the right column
                                            alignment: 'right',
                                            text: 'WESTERN-TOURS.COM '
                                        }
                                    ],
                                    margin: [10, 10],
                            }
                            });
                    },
                    message: 'Report date- @DateTime.Now.ToString("yyyy-MM-dd")',
                    exportOptions: {
                        columns: [1, 2, 3, 4, 5, 6]
                    }
                }
            ],
            @* "lengthMenu": [@Retrieves],*@
            order: [[0, 'desc']],

          });
          var table = $('#UserTable6').DataTable({
            destroy: true,
            dom: 'Bfrtip',
            //lengthMenu: [
            //    [10, 25, 50, -1],
            //    ['10 rows', '25 rows', '50 rows', 'Show all']
            //],
            buttons: [
                'pageLength',
                {
                    extend: 'pdf',
                    title: function () { return "ALL TOUR LIST"; },
                    customize: function (doc) {
                        doc.styles.title = {
                            //color: 'red',
                            fontSize: '20',
                            //background: 'blue',
                            alignment: 'left'
                        },
                            doc['header'] = (function (page, pages) {
                                return {
                                    columns: [
                                        'Administrator',
                                        {
                                            // This is the right column
                                            alignment: 'right',
                                            text: 'WESTERN-TOURS.COM '
                                        }
                                    ],
                                    margin: [10, 10],
                            }
                            });
                    },
                    message: 'Report date- @DateTime.Now.ToString("yyyy-MM-dd")',
                    exportOptions: {
                        columns: [1, 2, 3, 4, 5, 6]
                    }
                }
            ],
            @* "lengthMenu": [@Retrieves],*@
            order: [[0, 'desc']],

          });

        $(".nav li ul li").removeClass("active");
        $('#Booking').addClass('active');


    });
</script>

<script>
    function CopyToClipboard(containerid) {
        if (document.selection) {
            var range = document.body.createTextRange();
            range.moveToElementText(document.getElementById(containerid));
            range.select().createTextRange();
            document.execCommand("copy");
        } else if (window.getSelection) {
            var range = document.createRange();
            range.selectNode(document.getElementById(containerid));
            window.getSelection().addRange(range);
            document.execCommand("copy");

            $('#Copied').fadeIn();
            $('#Copied').fadeOut(6000);
        }
    }
</script>